.cover__link {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  max-width: 1184px;
  min-height: 740px;
  z-index: 1;
}

.cover__link::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  z-index: -1;
}

.cover__link:hover::after {
  opacity: 0.8;
}

@media (max-width: 1224px) {
  .cover__link {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media (max-width: 1023px) {
  .cover__link {
    max-width: 768px;
    min-height: 480px;
  }
}

@media (max-width: 800px) {
  .cover__link {
    max-width: 512px;
    min-height: 320px;
  }
}

@media (max-width: 520px) {
  .cover__link {
    max-width: calc(320px - 2vw);
    min-height: calc(200px - 2vw);
  }
}
