.cover__link {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: contain;
  position: relative;
  width: 1184px;
  height: 740px;
  z-index: 1;
}

.cover__link::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  z-index: -1;
}

.cover__link:hover::after {
  opacity: 0.8;
}

@media (max-width: 1224px) {
  .cover__link {
    width: 1024px;
    height: 640px;
  }
}
