.page {
  margin: 0 auto;
  padding: 0;
  font-family: 'Inter', 'Arial', 'sans-serif';
  max-width: 1280px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/*Инструменты разработки*/
/*Временная рамка для разработки*/

/*header, section, main, footer, div, h1, h2, h3, p, ul, li, nav, img {
  border: 1px solid red;
}*/
