.photo-grid {
  margin: 92px auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 284px);
  gap: 16px;
  justify-content: center;
}

@media (max-width: 1224px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 14px;
  }
}

@media (max-width: 1023px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, 352px);
    gap: 16px;
    margin: 88px auto 0;
  }
}

@media (max-width: 767px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, 288px);
    gap: 12px;
    margin: 64px auto 0;
  }
}
