.places {
  display: grid;
  row-gap: 80px;
  margin: 92px auto 0;
}

@media (max-width: 1023px) {
  .places {
    row-gap: 73px;
    margin: 88px auto 0;
  }
}

@media (max-width: 767px) {
  .places {
    margin: 64px auto 0;
  }
}
