.intro__list {
  margin: 0;
  margin-top: 33px;
  padding: 0;
  list-style-type: none;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
}

@media (max-width: 767px) {
  .intro__list {
    padding-left: 16px;
    padding-right: 16px;
  }
}
