.cover__subtitle {
  margin: 32px 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  width: 360px;
}

@media (max-width: 800px) {
  .cover__subtitle {
    max-width: 512px;
  }
}

@media (max-width: 520px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}
