.footer__link {
  margin: 0;
  margin-right: 18px;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}

.footer__link:last-child {
  margin-right: 0;
}

@media (max-width: 767px) {
  .footer__link {
    margin-bottom: 32px;
    margin-right: 0;
    font-size: 24px;
    line-height: 24px;
  }
  .footer__link:last-child {
    margin-bottom: 0;
  }
}
