.intro__text {
  margin: 0;
  margin-top: 40px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .intro__text {
    padding-left: 16px;
    padding-right: 16px;
  }
}
