.place__link {
  text-decoration: none;
  margin: 12px 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration-line: underline;
}

@media (max-width: 460px) {
  .place__link {
    padding-left: 16px;
  }
}
