.lead__caption {
  margin: 0;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: #FFFFFF;
  margin-top: 8px;
  width: 984px;
}

@media (max-width: 1224px) {
  .lead__caption {
    width: 928px;
  }
}

@media (max-width: 1023px) {
  .lead__caption {
    padding-left: 24px;
    width: calc(100% - 24px);
  }
}

@media (max-width: 460px) {
  .lead__caption {
    padding-left: 16px;
    width: calc(100% - 16px);
  }
}
