.cover__title {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  width: 560px;

}

@media (max-width: 800px) {
  .cover__title {
    max-width: 400px;
    font-size: 56px;
    line-height: 109%;
  }
}

@media (max-width: 520px) {
  .cover__title {
    max-width: 228px;
    font-size: 32px;
    line-height: 35px;
  }
}
